/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	display: flex;

	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;

	border: 1px solid black;
}

.container a {
	text-decoration: none;
	color: grey;
}

.box-1 .inovation-h1 {
	font-size: 90px;

	text-align: center;
}

.box-1 button {
	font-size: 20px;
	width: 200px;
	margin: 0 auto;
	
	text-align: center;
	
	border: 1px solid black;
	background-color: white;
	

}

.sec {
	display: flex;

	border: 1px solid red;
}

section .box-1 {
	display: flex;

	flex-direction: column;
	justify-content: flex-start;


	border: 1px solid black;
}

section .box-2 {
	display: inline-block;

	height: auto;
	width: 400px;

	padding: 1px;
	box-sizing: border-box;

	text-align: center;

	margin-right: 20%;
	margin-bottom: 8%;
	margin-top: 3%;
}

h2 {
	font-size: 25px;
}

section .box-3 {

	display: inline-block;

	width: 40%;
	height: auto;

	margin-left: 8%;
	margin-right: 1%;
}

section .box-4 {

	display: inline-block;

	width: 40%;
	height: auto;

	margin-left: 1%;
	margin-right: 5%;
}

section .middle-img {
	display: block;

	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;

}

section .box-5 {
	display: inline-block;

	width: 25%;
	height: auto;

	margin-left: 8%;
	margin-right: 1%;
	margin-top: 3%;
}


section .box-6 {
	display: inline-block;

	width: 25%;
	height: auto;

	margin-left: 1%;
	margin-right: 1%;
	margin-top: 3%;
}


section .box-7 {
	display: inline-block;

	width: 25%;
	height: auto;

	margin-left: 1%;
	margin-right: 5%;
	margin-top: 3%;
}

section .box-8 {
	display: block;

	height: auto;
	width: 20%;

	margin-top: 3%;
	margin-left: 8%;
}

footer {
	display: block;

	width: auto;
	height: auto;

	margin-top: 3%;
	margin-bottom: 5%;

	text-align: center;	
}

.black-line {
	display: block;

	height: auto;
	width: auto;

	border: 1px solid black;

	margin-left: 8%;
	margin-right: 8%;
	margin-top: 3%;
	margin-bottom: 3%;

}



/*sevices*/

body{
	display: flex;

	flex-direction: column;
	margin: 1% 5%;
}
.ser-con {
	display: flex;

	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.ser-con a {
	text-decoration: none;
	color: grey;
}

section {
	border: 1px solid black;
	margin: 15px 0px;
}

.sec1 {
	display: flex;

	flex-direction: column;
	align-content: flex-start;
}

.sec2 {
	display: flex;

	flex-direction: row;
	justify-content: space-around;
	border: 1px solid black;
}

.sec2 div {
	border: 1px solid black;
	padding: 5px;
	background-color: lightgrey;

	display: flex;

	flex-direction: column;
	justify-content: flex-start;
}

button {
	font-size: 14px;
	width: 125px;
	
	text-align: center;
	
	border: 1px solid black;
	background-color: white;
}